
.footer-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-position: bottom;
}
  
  .footer-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  