html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    background-color: transparent; 
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; 
  }
  .page-container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; 
    background-color: #1F335D;
  }