.navbar-custom {
  background-color: hsl(0, 0%, 100%);
  backdrop-filter: blur(20%);
  width: 100%;
}

.navbar-brand img {
  margin-bottom: 0.97rem;
  margin-left: 1rem;
  width: auto;
  height: auto;
}

.navbar .nav-link {
  position: relative;
  color: black;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease-in-out;
  margin-right: 1rem;
}

.navbar .nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #221784;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.navbar .nav-link:active {
  transform: scale(0.97);
}

.navbar-brand span {
  font-size: 1.5rem;
  color: #000272;
}

.navbar-brand strong {
  font-weight: bold;
}

.nav-links-container {
  display: flex;
  justify-content: center;
 
}

.btn-login {
  background-color: #1b1464;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.btn-login:hover {
  background-color: #2c21a5;
}

.btn-login:active {
  transform: scale(0.95);
  background-color: #1b1464 !important;
}