.page-conteiner, .page-conteiner2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; 
}

.Primera-Fondo {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-position: bottom;
    pointer-events: none;
}

.Primera-Fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.texto-container {
    width: 50%;
    height: 30vh;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: transparent; 
    padding: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
}

.texto-container p {
    color: #1F335D;
    font-size: 50px ;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 786px) {
    .texto-container {
        width: 80%;
        height: auto;
        margin-left: 10%; 
        margin-top: 10vh;
    }
    
    .texto-container p {
        font-size: 35px; 
    }
}

@media (max-width: 480px) {
    .texto-container {
        width: 90%;
        height: auto; 
        margin-left: 5%;
        margin-top: 8vh;
        padding: 10px;
    }
    
    .texto-container p {
        font-size: 28px; 
    }
}

.SobreNosotros-container, .Subscripcion-container {
    width: 30rem;
    padding-left: 0.2rem;
    align-content: top;
    height: 40rem;
    margin-top: 15vh;
    background-color: #62d630;
    border-radius: 5%;
}

.SobreNosotros-container {
    margin-left: 20rem;
}

.Subscripcion-container {
    position: absolute;
    margin-left: 70rem;
}

.SobreNosotros-container h1, .Subscripcion-container h1 {
    color: white;
    text-align: left;
    font-size: 40px;
    margin: 1.5rem;
    margin-top: 2rem;
}

.SobreNosotros-container p, .Subscripcion-container p {
    color: white;
    text-align: left;
    font-size: 17px;
    margin: 1.5rem;
}
